.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar-multiple-rows {
      min-height: 32px;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
      height: 50px;
  }
  .mat-toolbar-multiple-rows img {
      margin-right: 12px;
  }
  .mat-toolbar.mat-primary {
      font-size: 14px;
  }
  .mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }